@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Urbanist";
	--bg: #0b0a0d;
	--bg-2: #1b1c1f;
	--bg-2: #1f1c21;
	--accent: #864DEB;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-shrink: 0;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background: var(--bg);
  overflow: hidden;
  display: grid;
	place-content: center;
  color: var(--primary-text);
	user-select: none
}
.content {
	--scroll: 1;
	height: 20rem;
	width: 20rem;
	position: relative;
}
.content:hover {
	--dscroll: 1.6;
}
.content > section {
	--relPosition: 1;
	position: absolute;
	top: 0;
	left: calc(var(--relPosition) * 80%);
	height: 100%;
	width: 100%;
	padding: 0.75rem;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	box-shadow: inset 0 0 0 0.125rem #ffffff11;
	overflow: hidden;
	isolation: isolate;
	z-index: calc(1000 + 100 * min(var(--relPosition), -1*var(--relPosition)));
}
.content > section:after {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--image) center center / cover;
	z-index: -1;
	border-radius: inherit;
	filter: brightness(50%) blur(0.25rem);
	transform: scale(1);
}

.content > section > .image {
	flex-grow: 1;
	border-radius: 1.25rem;
	box-shadow: 0 0 0.75rem #00000077;
	background: var(--image) center center / cover;
}

.content > section > .title {
	color: white;
	font-weight: 500;
	padding: 0.25rem 0.125rem;
	font-size: 1.25rem;
}

.content > section > .button {
	height: 2.5rem;
	border-radius: 1.25rem;
	background: #ffffff22;
	backdrop-filter: brightness(200%) blur(2rem);
	display: grid;
	place-content: center;
	font-weight: 500;
	color: white;
}




#You {
  --image: url('pics/3.jpg'); /* photo by David Gavi for Unsplash */
}

#Most {
  --image: url('pics/2.jpg'); /* Photo by Valery Sysoev for Unsplash */
}

#Beautiful {
  --image: url('pics/10.jpg'); /* Photo by Chris Leggat for Unsplash */
}

#Girl {
	--image: url('pics/4.jpg');
}

#In {
	--image: url('pics/5.jpg');
}
#The {
	--image: url('pics/7.jpg');
}
#This {
	--image: url('pics/1.jpg');
}
#World {
	--image:url('pics/9.jpg');
}